<%- include('layouts/header'); -%>

<%- include('layouts/navbar'); -%>

<!-- Page Header-->
<header class="masthead" style="background-image: url('/assets/img/create-post.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Create Post</h1>
          <span class="subheading">Write your first post, We are waiting.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="my-5">
          <ul class="list-group"></ul>
          <% if(Post.length > 0){ %>
          <li class="list-group-item list-group-item-danger"><%= Post %></li>
          <% } %>
          </ul>
          <!-- * * * * * * * * * * * * * * *-->
          <form action="/posts/store" method="POST" id="contactForm" enctype="multipart/form-data">
            <div class="form-floating">
              <input class="form-control" id="title" type="text" name="title" placeholder="Enter your Title..." />
              <label for="title">Title</label>
            </div>
            <div class="form-floating">
              <textarea class="form-control" name="body" id="body" style="height: 12rem"></textarea>
              <script>
                $('#body').summernote({
                  placeholder: 'Enter your Description here...',
                  tabsize: 2,
                  height: 200
                });
              </script>
              <label for="body">Description</label>
            </div>

            <div class="form-floating control-group">
              <div class="form-group floating-label-form-group controls">
                <label>Image</label>
                <input type="file" class="form-control" id="image" name="image">
              </div>
            </div>

            <br />
            <!-- Submit Button-->
            <button class="btn btn-primary text-uppercase" id="submitButton" type="submit">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>

<%- include('layouts/footer'); -%>